@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #9e9ea4;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* General styles for the dashboard container */
.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #1d2634;
  flex-direction: column;
}

/* Top bar styles */
.top-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #02508a;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 1px;
  position: fixed;
  top: 0;
  left: 230px; /* Adjust to sidebar width */
  width: calc(100% - 250px);
  z-index: 1000; /* Make sure it is above other elements */
  transition: width 0.3s ease, left 0.3s ease;
  justify-content: space-between; /* Distribute space between elements */
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.dashboard-title {
  margin: 0; /* Adjust space around title */
  font-size: 20px;
  color: #fff;
  flex-grow: 1; /* Allows the title to use the available space between the icons */
}

.search-bar {
  margin: 0 20px; /* Spacing on the sides */
  padding: 5px 10px; /* Adjust padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  max-width: 200px;
}

/* Styles for the settings menu */
.settings-menu {
  position: absolute;
  top: 100%; /* Just below the icon */
  right: 0;
  background: #fff;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  border-radius: 4px;
  z-index: 1001; /* Make sure it is on top of other elements */
  display: flex;
  flex-direction: column;
  width: 200px;
}

.settings-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.settings-menu ul li {
  border-bottom: 1px solid #ddd;
}

.settings-menu ul li:last-child {
  border-bottom: none;
}

.settings-menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.settings-menu ul li a:hover {
  background: #f4f4f4;
}

/* Styles for notification and profile icons */
.notifications,
.settings,
.profile {
  position: relative;
  cursor: pointer;
  margin-right: 15px; /* Add space between icons */
  font-size: 20px;
}

.notifications-menu,
.settings-menu,
.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  border-radius: 4px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.notifications-menu ul,
.settings-menu ul,
.profile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notifications-menu ul li,
.settings-menu ul li,
.profile-menu ul li {
  border-bottom: 1px solid #ddd;
}

.notifications-menu ul li:last-child,
.settings-menu ul li:last-child,
.profile-menu ul li:last-child {
  border-bottom: none;
}

.notifications-menu ul li a,
.settings-menu ul li a,
.profile-menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.notifications-menu ul li a:hover,
.settings-menu ul li a:hover,
.profile-menu ul li a:hover {
  background: #f4f4f4;
}

/* Sidebar styles */
.dashboard {
  width: 190px; /* Fixed width for the sidebar */
  height: 100vh; /* Full viewport height */
  position: fixed; /* Fixed position to stay on the left */
  top: 0;
  left: 0;
  background: #02508a; /* Background color for the sidebar */
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  transition: width 0.3s ease;
  z-index: 500; /* Ensure it stays below the top bar */
}

.dashboard.collapsed {
  width: 60px; /* Narrow width when collapsed */
}

.dashboard.collapsed .dashboard-title {
  display: none; /* Hide the title when sidebar is collapsed */
}

.dashboard ul {
  position: relative;
  list-style-type: none;
  padding: 15px;
  top: 35px;
}

.dashboard ul li {
  margin: 10px 0;
}

.dashboard ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.dashboard ul li a .menu-text {
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.dashboard.collapsed .menu-text {
  display: none; /* Hide text when collapsed */
}

.dashboard ul li a:hover {
  background: #457b9d;
  color: #fff;
}

/* Main content styles */
.main-content {
  margin-left: 230px; /* Space for the sidebar */
  padding: 45px;
  background-color: #1d2634; /* Background color for the main content */
  flex-grow: 1;
  transition: margin-left 0.3s ease; /* Smooth transition for content margin */
  margin-top: 50px; /* Space for the top bar */
}

/* Adjust main content when sidebar is collapsed */
.dashboard.collapsed ~ .main-content {
  margin-left: 100px; /* Adjust based on collapsed sidebar width */
}

/* styles.css or in your styles file */
.custom-select {
  background-color: #f0f0f0; /* Background color */
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.custom-select option {
  background-color: #fff; /* Background color of the options */
  color: #000;
}

/* styles for tables*/

.table-custom thead th {
  background-color: #02508a; /* Dark background color for headers */
  color: #ffffff;
  border-color: #dee2e6;
}

.table-custom tbody td {
  color: #ffffff;
  padding: 10px;
}
tr th {
  padding: 10px;
}

/* Conditional styles based on room state */
.table-custom .status-available {
  color: #28a745;
}

.table-custom .status-unavailable {
  color: #dc3545; /* Red for unavailable rooms */
}

.table-custom .status-maintenance {
  color: #ffc107;
}

.header {
  > div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    img {
      max-width: 200px;
    }
    .headerButtons {
      display: flex;
      gap: 10px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border: 2px solid #0862df;
        font-weight: 500;
        padding: 12px 54px;
        background: #0862df;
      }
    }
  }
}

.hero {
  background: url("./assets/webp/hotelroom.webp");
  height: 600px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(40%);
    width: 100%;
    padding: 60px 0;
    align-items: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    gap: 10px;
    h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 2.25rem;
      margin: 0;
    }
    h2 {
      font-size: 1.125rem;
      color: #eee;
      margin: 0 0 30px 0;
      font-weight: 400;
    }
  }
  .heroButtons {
    display: flex;
    gap: 10px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border: 2px solid #fff;
      font-weight: 500;
      padding: 12px 54px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    }
  }
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  > div {
    background: #02508a;
    padding: 40px;
    span {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      display: block;
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 20px;
      width: 400px;
      p {
        color: #aaa;
        a {
          color: #fff;
        }
      }
      > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        label {
          color: #eee;
          font-weight: 500;
        }
        input {
          padding: 12px;
          font-family: "Inter", sans-serif;
        }
      }
      .formButtons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        button,
        input {
          font-family: "Inter", sans-serif;
          background: none;
          color: #fff;
          border: 2px solid #fff;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          transition: 0.2s ease;
          &:hover {
            background: #fff;
            color: #161616;
          }
        }
      }
    }
  }
}

/* styles for rooms files*/
.room-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-row label {
  flex: 1;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.room-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.room-form input,
.room-form textarea,
.room-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.room-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.room-form button:hover {
  background-color: #0056b3;
}

/* styles for Wallet Transaction*/
.transaction-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* background-color: #f9f9f9; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transaction-table th,
.transaction-table td {
  padding: 12px 15px;

  text-align: left;
}

.transaction-table th {
  background-color: #333;
  color: #fff;
}

.transaction-table tbody tr:hover {
  background-color: #333;
}

.transaction-table td {
  color: #ffffff;
}

.transaction-container h2 {
  text-align: center;
  color: #ffffff;
}

/* styles for User*/
.user-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  text-align: left;
}

.user-table th {
  border-bottom: 1px solid #ccc;
}

.user-table tbody tr:hover {
  background-color: #ccc;
}

.user-table td {
  color: #111;
}

.user-container h2 {
  text-align: center;
  color: #111;
}

/* Estilos generales para el modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message,
.success-message {
  color: #ffffff;
  margin-bottom: 10px;
}

.Bookings {
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 20px;
    button {
      padding: 12px;
    }
    .service {
      display: flex;
      justify-content: space-between;
    }
  }
}
